.env
.env.*
!.env.example

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.Rider/

bin/
obj/
Debug/
Release/

*.nupkg
*.snupkg
packages/
.nuget/packages/


wwwroot/lib/
appsettings.*.json
*.db
*.mdf
*.ldf

*.log
*.vsconfig
*.DotSettings.user
.vscode/

TestResults/
*.trx
*.coverage
*.coveragexml
*.opencover.xml
*.profdata
*.coverage

.idea/
*.iml

*.DS_Store
*.swp
Thumbs.db

project.lock.json
project.assets.json

volumes/
data/
