/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* VARIABLES */

:root {
    --bg: #191919;
    --card: #111;
    --text: #ffffff;
    --text-muted: #C3C3C3;
    --accent: #9D6A69;
}


/* BODY */
body {
    padding-top: 70px;

    background: var(--bg);
    color: var(--text);
    font-family: Raleway, sans-serif;
}


/* CONTAINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* LINKS */

a {
    text-decoration: none;
    color: inherit;
}


/* IMAGES */

img {
    display: block;
}

/* FOOTER */


html, body {
    height: 100%;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Raleway, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}